.header {
  @media (max-width: 1280px) {
    &__navigation {
      a {
        padding: 40px 20px 30px;
        font-size: calc(#{$fs__normal} - #{$media-l});
      }
    }
  }

  @media (max-width: 576px) {
    display: none;
  }

  @media (max-width: 540px) {
    &__navigation {
      a {
        padding: 20px 12px 15px;
        font-size: calc(#{$fs__normal} - #{$media-m});

      }
    }
  }
  //@media (max-width: 320px) {
  //  &__navigation {
  //    a {
  //      padding: 15px 8px 10px;
  //      font-size: calc(#{$fs__normal} - #{$media-s});
  //    }
  //  }
  //}
}