@import "common";
@import "components/1-header";
@import "components/2-about";
@import "components/3-provide";
@import "components/4-product";
@import "components/5-team";
@import "components/6-design";
@import "components/7-get";
@import "components/8-footer";