body {
  font-family: 'Open Sans', sans-serif;
  font-size: $fs__normal;
  color: $second__font-color;
  line-height: 26px;
}

a {
  color: $second__font-color;
  display: inline-block;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
}

.col {
  width: 50%;
}

.d-flex{
  display: flex;
}

.j-content-center {
  justify-content: center;
}

.f-direction {
  flex-direction: row;
}

.a-item-center {
  align-items: center;
}

.global-btn {
  border: 2px solid #ff2d2d;
  border-radius: 5px;
  padding: 13px 58px;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
}

.divining-line {
  width: 80%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  height: 2px;
  background-color: $form-color;
}

.dividing-line__red {
  max-width: 130px;
  height: 2px;
  background-color: $accent-color;
  padding: 0;
}