$accent-color: #ff2d2d;
$form-color: #e5e5e5;

$first-global__bg-color: #ffffff;
$second-global__bg-color:#f6f2f2;

$first__font-color: #000000;
$second__font-color: #4c4c4c;
$third__font-color: #d5d5d5;

$first-block__bg-color: #313030;
$second-block__bg-color: #f5f0dd;

$transition_timer: .3s;


$fs__title-l: 60px;
$fs__title-m: 42px;
$fs__medium: 24px;
$fs__normal: 16px;


$media-l: 16%;
$media-m: 32%;
$media-s: 42%;