.get {
  @media (max-width: 1280px) {
    margin: 80px 0;
    &-title {
      text-align: center;
    }
    &-description {
      width: 100%;
      text-align: center;
      margin: 0 auto 45px;
    }
    .dividing-line__red {
      margin: 0 auto 60px;
    }

    &__form {
      max-width: 534px;

      &-class {
        padding: 16px 30px;
        width: 240px;
        font-size: 16px;
      }

      textarea {
        padding: 16px 30px;
      }

      &-wrapper {
        justify-content: center;
      }
    }
  }

  @media (max-width: 1098px) {
    &__wrapper {
      margin: 0 auto;
      justify-content: center;
      display: block;

      &-block {
        width: 100%;
        justify-content: center;
        margin-bottom: 60px;
      }
    }

    &__contact {
      &-title {
        font-size: 16px;
      }
      font-size: 12px;
      padding: 35px;
      width: 60%;
      text-align: center;
      margin: 0 auto;
      &:after {
        display: none;
      }
    }
  }

  @media (max-width: 563px) {
    &__form-wrapper {
      justify-content: space-between;
      label {
        input {
          margin: 0 auto 25px;
        }
      }
    }
  }

  @media (max-width: 425px) {
    &__form-class {
      width: 140px;
    }
    .get-title {
      line-height: 40px;
    }
  }
}