.get {
  @media (max-width: 1280px) {
    margin: 80px 0;
    &-title {
      text-align: center;
    }
    &-description {
      width: 100%;
      text-align: center;
      margin: 0 auto 45px;
    }
    .dividing-line__red {
      margin: 0 auto 60px;
    }

    &__form {
      max-width: 534px;

      &-class {
        padding: 16px 30px;
        width: 240px;
        font-size: 16px;
      }

      textarea {
        padding: 16px 30px;
      }

      &-wrapper {
        justify-content: center;
      }
    }
  }

  @media (max-width: 1098px) {
    &__form {
      max-width: 220px;

      &-class {
        max-width: 220px;
      }

      &-name {
        margin: 0 0 20px 0;
      }
    }

    &__wrapper {
      margin: 0 auto;
      justify-content: center;
    }

    &__contact {
      font-size: 12px;
      padding: 35px 0 0 10px;
      margin-left: 12px;
      width: 100px;
    }
  }
}