.get {
  margin: 110px 0;
  overflow: hidden;

  &-title {
    font-size: $fs__title-m;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 55px;
  }
  &-description {
    max-width: 725px;
    margin-bottom: 60px;
  }
  .dividing-line__red {
    margin-bottom: 75px;
  }

  &__wrapper {
    position: relative;
    display: flex;

    &-block {
      display: flex;
    }
  }

  &__form {
    max-width: 730px;
    &-class {
      background-color: $form-color;
      padding: 21px 55px;
      max-width: 338px;
      margin-bottom: 45px;
      font-size: 18px;
    }

    &-name {
      margin-right: 54px;
    }

    #get__full-label-size {
      width: 100%;
    }

    &-submit {
      background-color: $accent-color;
      color: $first-global__bg-color;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      padding: 23px;
      width: 100%;
      cursor: pointer;
      border: 2px solid $accent-color;
      border-radius:  8px;

      &:hover {
        transition: $transition_timer;
        color: $accent-color;
        background-color: $first-global__bg-color;
      }
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 730px;

      textarea {
        height: 250px;
        width: 100%;
        background-color: $form-color;
        padding: 21px 55px;
        margin-bottom: 45px;
      }

      input::placeholder,
      textarea::placeholder {
        color: $second__font-color;
      }

    }
  }

  &__contact {
    background-color: $first-block__bg-color;
    color: $form-color;
    width: 430px;
    padding: 145px 0 0 80px;
    position: relative;
    margin-left: 105px;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      left: 100%;
      height: 100%;
      top: 0;
      display: block;
      background-color: $first-block__bg-color;
    }

    &-title {
      font-size: 18px;
      margin-bottom: 45px;
    }

    a {
      color: $form-color;
    }
    &-email,
    address {
      margin-bottom: 15px;
    }
  }
}