.team {
  padding-bottom: 110px;

  &-title {
    font-size: $fs__title-m;
    font-weight: bold;
    text-transform: uppercase;
    color: $first__font-color;
    margin-bottom: 45px;
  }

  &__block {
    margin-left: 15px;

    &-description {
      max-width: 450px;
      margin-bottom: 35px;
    }

    .dividing-line__red {
      margin-bottom: 70px;
    }
  }

  &__represent {
    display: flex;

    &-thing {
      width: 320px; height: 460px;
      background-color: $second-block__bg-color;
      margin-right: 75px;
    }

    &-title {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      color: $first__font-color;
      margin-bottom: 45px;
    }

    &-description {
      max-width: 630px;
      margin-bottom: 45px;
    }

    nav {
      margin-bottom: 70px;

      ul{
        display: flex;
        gap: 35px;
      }
      a {
        font-style: italic;
        font-size: $fs__normal;
      }
    }

    &-wrapper {
      display: flex;
      column-gap: 20px;
    }
    &-item {
      width: 197px; height: 195px;
      background-color: $second-block__bg-color;
      position: relative;

      p{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        background-color: #7a786e;
        border-top: $second-block__bg-color solid 164px;
        color: white;
        padding-bottom: 5px;
        opacity: 0;
      }
    }
    &-item .active,
    &-item p:hover {
      transition: $transition_timer;
      opacity: 100%;
    }
  }
}