.product {
  @media (max-width: 1280px) {
    padding: 80px 0;
    &__info {
      margin-bottom: 80px;
      &-title {
        font-size: calc(#{$fs__title-m} - #{$media-m});
        margin-bottom: 25px;
      }
      &-description {
        font-size: calc(#{$fs__normal} - #{$media-m});
        max-width: 350px;
        margin-bottom: 20px;
      }
    }

    &__represent {
      nav {
        ul {
          column-gap: 30px;
        }
        li {
          font-size: calc(#{$fs__medium} - #{$media-m});
        }
      }

      &-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 10px;
      }
      &-wrapper::before {
        content:'';
        width: 100%;
        order: 1;
      }

      .item {
        height: 144px; width: 148px;
      }
      .item:nth-child(n + 5) {
        order: 1;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 60px 0;
    &__info {
      margin-bottom: 45px;
      &-title {
        font-size: calc(#{$fs__title-m} - (#{$media-s} * 2));
        margin-bottom: 15px;
      }
      &-description {
        font-size: calc(#{$fs__normal} - #{$media-s});
      }
    }

    &__represent {
      nav {
        margin-bottom: 45px;
        ul {
          gap: 10px
        }
        li {
          font-size: calc(#{$fs__medium} - (#{$media-s} * 1.5));
        }
      }

      &-wrapper {
        row-gap: 5px; column-gap: 10px;
      }
      .item {
        height: 83px; width: 84px;
      }
    }
  }

  @media (max-width: 500px) {
    padding: 45px 0;
    &__info {
      margin-bottom: 30px;
      &-title {
        font-size: calc(#{$fs__title-m} - (#{$media-s} * 3));
      }
    }
    &__represent {
      nav {
        margin-bottom: 30px;
        li {
          font-size: calc(#{$fs__medium} - (#{$media-s} * 2.3));
        }
      }
      .item {
        height: 60px; width: 60px;
      }
    }
  }
}
